:root {
  --background: #fffffe;
  --text: #0e172c;
  --primary: #d9d4e7;
  --secondary: #fec7d7;
  --tertiary: #a786df;
  --hero-font: "SUSE", sans-serif;
  --primary-font: "Quicksand", sans-serif;
  --border-radius: 0.15rem;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--primary-font);
}

#content {
  height: 100vh;
  display: grid;
  grid-template-rows: 8rem 1fr;
  grid-template-columns: 14rem 1fr;
}

.hero {
  grid-area: 1 / 2 / 2 / 3;
  padding: 1rem 0rem 1rem 2rem;
  border-bottom: 0.15rem solid var(--tertiary);
}

.hero-heading {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  margin: 0;
  font-family: var(--hero-font);
}

.hero-caption {
  font-size: 1.1rem;
}

.page-logo {
  fill: var(--tertiary);
  width: 3.3rem;
}

.tasks {
  grid-area: 2 / 2 / -1 / -1;
  background-color: var(--background);
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-y: auto;
  box-shadow: 0.2rem 0.3rem 0.5rem 0.1rem var(--primary) inset;
}

.task,
.note {
  background-color: var(--primary);
  height: min-content;
  width: 100%;
  min-width: 35rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.task-first-section,
.task-second-section,
.task-third-section,
.task-fourth-section {
  display: flex;
  flex-wrap: wrap;
}

.task-first-section {
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  width: 3rem;
}

.task-second-section {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, minmax(10rem, 1fr)) minmax(5rem, 1fr);
  width: 68rem;
  gap: 1rem;
}

.task-third-section {
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-fourth-section {
  width: 9rem;
  justify-content: center;
  align-items: center;
}

.task-title,
.project-field,
.task-description,
.date-picker,
.priority-btn,
.finish-task-btn,
.note-title,
.note-description {
  border-radius: 0.4rem;
  border: 0.15rem solid var(--text);
  padding: 0.2rem;
  color: var(--text);
  background-color: var(--background);
}

.date-picker:enabled,
.project-field:enabled {
  cursor: pointer;
}

label[for="task-title"],
label[for="task-project"],
label[for="task-description"],
label[for="task-duedate"],
.priority-label {
  font-weight: bold;
  padding-left: 0.4rem;
}

.task-title,
.project-field,
.date-picker {
  height: 2rem;
}

.task-description,
.note-description {
  resize: none;
}

.task-title-container {
  grid-column: span 2;
}

.task-title {
  width: 100%;
}

.task-title:disabled,
.note-title:disabled {
  font-size: 1.5rem;
  font-weight: bold;
}

.task-title:disabled,
.project-field:disabled,
.task-description:disabled,
.date-picker:disabled,
.note-title:disabled,
.note-description:disabled {
  border: 0.15rem solid var(--primary);
  background-color: var(--primary);
}

.project-field:disabled {
  appearance: none;
}

.project-input-container {
  grid-column: 3 / 4;
}

.project-field {
  width: 100%;
}

.task-description-container {
  grid-column: span 3;
}

.task-description {
  width: 100%;
}

.date-picker {
  width: 100%;
}

.edit-btn,
.delete-btn,
.done-btn,
.finish-task-btn,
.rename-project-btn,
.set-project-btn,
.delete-project-btn,
.note-edit-btn,
.note-done-btn,
.note-delete-btn {
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  height: auto;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.edit-btn,
.note-edit-btn {
  opacity: 0;
  background-image: url(../images/edit-logo.svg);
  background-size: 1.7rem 1.7rem;
  background-repeat: no-repeat;
  background-position: center;
}

.delete-btn,
.note-delete-btn {
  background-image: url(../images/delete-logo.svg);
  background-size: cover;
}

.done-btn,
.note-done-btn {
  background-image: url(../images/done-logo.svg);
  background-size: cover;
}

.rename-project-btn,
.set-project-btn,
.delete-project-btn {
  background-image: url(../images/edit-logo.svg);
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  background-position: center;
}

.set-project-btn {
  background-image: url(../images/done-logo.svg);
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  background-position: center;
}

.delete-project-btn {
  background-image: url(../images/delete-logo.svg);
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  background-position: center;
}

.project-header-btn-container {
  display: flex;
  gap: 1rem;
}

.finish-task-btn {
  font-family: var(--hero-font), sans-serif;
  font-size: 1.2rem;
  width: 60%;
  border: 0.15rem solid var(--primary);
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
}

.delete-btn:hover,
.edit-btn:hover,
.done-btn:hover,
.finish-task-btn:hover,
.rename-project-btn:hover,
.set-project-btn:hover,
.delete-project-btn:hover,
.note-delete-btn:hover,
.note-edit-btn:hover,
.note-done-btn:hover {
  transform: scale(1.1);
}

.finish-task-btn:hover {
  background-color: var(--background);
  border: 0.15rem solid var(--text);
}

.task:hover .edit-btn {
  opacity: 1;
}

.add-task,
.add-note-btn {
  height: min-content;
  padding: 1rem;
}

.priority-btn-container {
  display: flex;
  gap: 0.2rem;
}

.priority-styling {
  border: 0.15rem solid var(--tertiary);
}

.high-priority-btn:disabled {
  font-weight: bold;
}

.high-priority-btn:enabled,
.medium-priority-btn:enabled,
.low-priority-btn:enabled {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.high-priority-btn:enabled:hover,
.medium-priority-btn:enabled:hover,
.low-priority-btn:enabled:hover {
  background-color: var(--text);
  color: var(--background);
}

.high-priority-btn:disabled,
.medium-priority-btn:disabled,
.low-priority-btn:disabled {
  display: none;
}

.high-priority-btn:disabled.priority-styling,
.medium-priority-btn:disabled.priority-styling,
.low-priority-btn:disabled.priority-styling {
  display: block;
  border: 0.15rem solid var(--primary);
  background-color: var(--primary);
}

.project-header-container {
  width: 100%;
  height: min-content;
}

.project-header:disabled {
  border: 0.15rem solid var(--background);
  background-color: var(--background);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text);
  height: 2.2rem;
  width: 100%;
}

.project-header:enabled {
  border: 0.15rem solid var(--text);
  border-radius: 0.4rem;
  padding: 0.2rem;
  background-color: var(--background);
  color: var(--text);
  height: 2.2rem;
}

.note {
  width: min-content;
  flex-direction: column;
  min-width: 10rem;
}

.note-title-container,
.note-description-container {
  width: 20rem;
}

.note-title,
.note-description {
  width: 100%;
}

.note-edit-btn {
  opacity: 0;
}

.note:hover .note-edit-btn {
  opacity: 1;
}

.add-note-btn {
  height: min-content;
  padding: 1rem;
}

.taskbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  grid-area: 1 / 1 / -1 / 2;
  background-color: var(--secondary);
  padding: 1rem 0 1rem 0;
  overflow-y: auto;
}

.general-tasks,
.projects-todo,
.project-item,
.notes-btn-container,
.add-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.taskbar-btn {
  appearance: none;
  width: 80%;
  border: none;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: text-shadow 0.2s ease-out, background-color 0.2s ease-out;
}

.taskbar-btn:hover {
  background-color: var(--text);
  color: var(--primary);
  text-shadow: 0rem 0rem 0.1rem var(--primary);
}

.taskbar-btn-activate {
  background-color: var(--text);
  color: var(--primary);
  text-shadow: 0rem 0rem 0.1rem var(--primary);
}

.add-task,
.add-project-btn,
.add-note-btn {
  border: 0.2rem solid var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.add-project-btn {
  margin-bottom: 1rem;
}

.add-note-btn {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: text-shadow 0.2s ease-out, background-color 0.2s ease-out,
    transform 0.2s ease-out;
}

.add-note-btn:hover {
  transform: scale(1.1);
}

.add-logo,
.add-note-logo {
  width: 2rem;
  fill: var(--text);
  transition: fill 0.2s ease-out, filter 0.2s ease-out;
}

.taskbar-btn:hover .add-logo {
  fill: var(--primary);
  filter: drop-shadow(0rem 0rem 0.1rem var(--primary));
}

.add-note-btn:hover .add-note-logo {
  transform: scale(1.1);
}
